body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container{
    width: 400px;
    margin: 40x auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

h1{
    text-align: center;
}

#addnote{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.note{
    background: #fff8b3;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.note textarea{
    width: 100%;
    border: none;
    resize: none;
    background: transparent;
    font-size: 14px;
}

.delete{
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: red;
}