body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 300px;
    margin: 40px auto;  
    background: white;
    padding: 50px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

#addNote {  
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.note {
    background: #eef591;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}

.note textarea {
    width: 100%;
    border: none;
    resize: none;
    background: transparent;
    font-size: 14px;
}

.delete {
    position: absolute;
    top: 6px;
    right: 8px;
    cursor: pointer;
    color: red;
}